.jumbotron{
	background-color: #415E9B;
	color: white;
	margin-top: 30px;
	width: 100%;
	height: 220px;
	padding: 30px 0 0 0;
}

.jumbotron h1{
	padding-top: 65px;
	padding-left: 30px;
	float: left;
}

.banner img{
	float: right;
	width: 20%;
	width: 20%;
	margin-top: 20px;
	margin-right: 10px;
  	border-radius: 20px;
}

.btn-reserva{
	background-color: #7799ef;
	border-color: #7799ef;
	color: white;
}

.btn:hoover{
	background-color: #adb2f7;
	border-color: white;
	color: white;
}

footer{
	padding: 10px 10px 0 20px;
	background-color: #415E9B;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 100px;
	padding: 0px 10px 10px 10px;
	min-width: 200px;
}

.btn-reserva{
	width: 100%;
}

footer a{
	color: darkblue; 
}

.footer-address-icon{
	padding-right: 10px;
}

.card-hotel-btn-icon{
	padding-right: 10px;
	color: lightgrey;
}

.table{
	text-align: center;
}

.table thead{
	background-color: #7799ef;
	color: white;
}

.oi-star{
	color: #7799ef;
}

.card-pay .card-header{
	background-color: #7799ef;
	color: white;
}

.redes{
	margin-top: 30px;
	text-align: center;
	float: left;
}

.informacion{
	margin-top: 30px;
	text-align: center;
	float: right;
}

.footer-address{
	text-align: center;
	float: center;
	padding-top: 0;
	padding-left: 20px;
}


.card-b-index{
	padding-bottom: 0px;
	text-align: center;
}

.card-h-index{
	background-color: white;
	text-align: center;
}

.card-f-index{
	background-color: white;
	text-align: center;
	margin-bottom: 0; 
}

.card-img-top{
	padding-top: 10px;
}

.card_pay{
	margin-bottom: 50px;
}

.list-group-item img{
	width: 35%;
	padding-right: 20px;
}

.list-group-item .cheque{
	width: 33%;
	padding-right: 25px;
	padding-left: 10px;
}

.nav-tabs .nav-link.active{
	background-color: #0069D9;
	color: white;
}

.tab-content{
	padding-top: 20px;
}

.cards-hoteles{
	margin-top: 20px;
}

.btn-informacion{
	float: center;
	margin-top: 10px;
}

.card-medios .card-h-precios{
	background-color: white;
}

.card-medios .card-h-precios button{
	width: 100%;
	background-color: white;
	color:  #0069D9;
	border-color: white;
	text-align: left;
}

.btn-contacto{
	margin: 0 20px 10px 20px;
}

.img-slider{
	float: center;
	width: 86%;
	margin-left: 7%;
}