@blue: #415E9B;
@blueBtn: #7799ef;
@green: #b5ce6e;
@red: #D9564A;
@yellow: #ffe28c;

.margenes(@top: 0px, @right: 0px, @bottom: 0px){
  margin-top: @top;
  margin-right: @right;
  margin-bottom: @bottom;
}

.jumbotron{
  background-color: @blue;
  color: white;
  width: 100%;
  height: 220px;
  padding: 30px 0 0 0;
  .margenes(30px, 0px, 30px);
}

.jumbotron h1{
  padding-top: 65px;
  padding-left: 30px;
  float: left;
}

.banner img{
  float: right;
  width: 20%;
  width: 20%;
  border-radius: 20px;
  .margenes(20px, 10px, 20px);
}

.btn-reserva{
  background-color: @blueBtn;
  border-color: @blueBtn;
  color: white;
}

.btn:hoover{
  background-color: #adb2f7;
  border-color: white;
  color: white;
}

footer{
  padding: 10px 10px 0 20px;
  background-color: @blue;
  .margenes(10px, 0px, 0px);
}

.card-hotel{
  flex: 1 100px;
  padding: 0px 10px 10px 10px;
  min-width: 200px;
  .margenes(20px, 0px, 20px);
}

.btn-reserva{
  width: 100%;
}

footer a{
  color: darkblue; 
}

.footer-address-icon{
  padding-right: 10px;
}

.card-hotel-btn-icon{
  padding-right: 10px;
  color: @yellow;
}

.redes{
  text-align: center;
  float: left;
  .margenes(30px, 0px, 10px);
}

.informacion{
  text-align: center;
  float: right;
  .margenes(30px, 0px, 10px);
}

.footer-address{
  text-align: center;
  float: center;
  padding-top: 0;
  padding-left: 20px;
}

.card-b-index{
  padding-bottom: 0px;
  text-align: center;
}

.card-h-index{
  background-color: white;
  text-align: center;
}

.card-f-index{
  background-color: white;
  text-align: center;
  margin-bottom: 0; 
}

.card-img-top{
  padding-top: 10px;
}

.btn-contacto{
  margin-left: 20px;
  .margenes(0px, 20px, 10px);
}

.img-slider{
  .margenes(10px, 0px, 10px);
  float: center;
  width: 86%;
  margin-left: 7%;
}