.jumbotron {
  background-color: #415E9B;
  color: white;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 30px;
  width: 100%;
  height: 220px;
  padding: 30px 0 0 0; }

.jumbotron h1 {
  padding-top: 65px;
  padding-left: 30px;
  float: left; }

.banner img {
  float: right;
  width: 20%;
  width: 20%;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 20px; }

.btn-reserva {
  background-color: #7799ef;
  border-color: #7799ef;
  color: white; }

.btn:hoover {
  background-color: #adb2f7;
  border-color: white;
  color: white; }

footer {
  padding: 10px 10px 0 20px;
  background-color: #415E9B;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 100px;
  padding: 0px 10px 10px 10px;
  min-width: 200px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px; }

.btn-reserva {
  width: 100%; }

footer a {
  color: darkblue; }

.footer-address-icon {
  padding-right: 10px; }

.card-hotel-btn-icon {
  padding-right: 10px;
  color: #ffe28c; }

.redes {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  float: left; }

.informacion {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  float: right; }

.footer-address {
  text-align: center;
  float: center;
  padding-top: 0;
  padding-left: 20px; }

.card-b-index {
  padding-bottom: 0px;
  text-align: center; }

.card-h-index {
  background-color: white;
  text-align: center; }

.card-f-index {
  background-color: white;
  text-align: center;
  margin-bottom: 0; }

.card-img-top {
  padding-top: 10px; }

.btn-contacto {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px; }

.img-slider {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  float: center;
  width: 86%;
  margin-left: 7%; }
